/* --color-logo: #2196F3 */
/* --primary-color: #212121; */
/* --accent-color: #2196F3; */
/* --white-color: #FFFFFF; */
/* --font-color-primary: #757575; */
/* --hero-background: #2F303A; */
/* --azur-background: #F5F4FA; 
/* --font-main: #E5E5E5; */
/* --logo-black: #000000; */
/* --footer-color: #FFFFFF 60%; */
:root {
    --color-logo: #2196F3;
    --primary-color: #212121;
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
    --font-color-primary: #757575;
    --hero-background: #2F303A;
    --azur-background: #F5F4FA;
    --logo-black: #000000;
    --footer-color: #FFFFFF 60%;
}

body {
    box-sizing: border-box;
    font-family: Roboto sans-serif;
    letter-spacing: 0.03em;
}

.list {
    list-style: none;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

img {
    display: block;
    max-width: 100%;

    margin: 0;
}

h1,
h2,
h3,
p {
    margin: 0;
}

/* стилі секції */

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;


    color: var(--primary-color);
}


.logo {
    color: var(--color-logo);

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;


}

.logo_heder {
    color: var(--logo-black);
}

.heder-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--primary-color);
}

.secondary-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--font-color-primary);
}

.hero {
    background-color: var(--hero-background);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

    color: var(--white-color);

}

.hero-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;

    color: var(--white-color);
    background-color: var(--color-logo);
}

.features-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

}

.features-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;


    color: var(--font-color-primary);
}

.section-azur-background {
    background-color: var(--azur-background);
}

.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;


    color: var(--primary-color);
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;


    color: var(--font-color-primary);
}

.footer {
    background-color: var(--hero-background);
}

.logo_footer {
    color: var(--logo-black);
}

.footer-address {
    font-style: normal;
}

.footer-link-address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    color: var(--white-color);
}

.footer-link {
    color: rgba(255, 255, 255, 0.6);
}